<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        
        <h1 class="title">Crie seu ToDo</h1>
        <%= render 'form', todo: @todo %>
        <br>
        <p><%= link_to 'Back', todos_path, class: "button is-info" %></p>

      </div>
    </div>
  </div>
</div>




